@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,600,700,800,900');
@import '~buefy/dist/buefy.css';
body, html {
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #e0e8f3;
	font-family: "IBM Plex Sans", sans-serif;
	line-height: 1.7;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 320px;
	color: #495463;
	min-height: 100vh;
}
.title{
	font-weight: 300;
	color: #495aff;
	line-height: 1;
	letter-spacing: -0.01em;
}
.subtitle{
	color: #4a4a4a;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.25;
}
.card{
	background-color: #fff;
	border-radius: 0.3571rem;
	border-color: #fff;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
	box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
	margin-bottom: 1.786rem;
	position: relative;
	z-index: 3;
	.card-header{
		padding: 0.893rem 1.786rem;
		box-shadow: initial;
	}
	.card-body{
		padding: 0.893rem 1.786rem;
		.title{
			color: #4a4a4a;
			font-size: 1.25rem;
			font-weight: 400;
			line-height: 1.25;
			margin:1rem 0rem;
		}
	}
}

.button{
	padding: 0rem 2rem;
	font-family: 'IBM Plex Sans',sans-serif;
	font-size: .895rem;
	font-weight: 600;
	&.is-primary{
		color: #fff;
		background-color: #0168fa;
		border-color: #0168fa;
		&:hover{
			color: #fff;
			background-color: #0158d4;
			border-color: #0153c7;
		}
	}
}
.b-tabs{
	width: 100%;
	.tabs{
		width: 100%;
		li{
			&.is-active{
				a{
					font-weight: 500;
					color: #495aff;
					border-bottom-color: #495aff;
				}
			}
		}
	}
}
.label {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
	color: #495463;
	line-height: 1.1;
}
.input{
	border-radius: 4px;
	border: 1px solid #d2dde9;
	width: 100%;
	padding: 1.3rem 1rem;
	line-height: 20px;
	font-size: .9em;
	color: rgba(73, 84, 99, 0.7);
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	-webkit-transition: all .4s;
	transition: all .4s;
	&:focus{
		border-color: #495aff;
		-webkit-box-shadow: 0 0 0 0.125em rgba(73, 90, 255, .25);
		box-shadow: 0 0 0 0.125em rgba(73, 90, 255, .25);
	}
}
